<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MyCustomDebugRequest" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/request.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="MyCustomLoggerRequest" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">MyCustomDebugRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magenest\Logger\Controller\Index\Index">
        <arguments>
            <argument name="logger" xsi:type="object">MyCustomLoggerRequest</argument>
        </arguments>
    </type>
</config>
