<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="eav_merchant_listing_data_source" xsi:type="string">Magenest\EavModel\Model\ResourceModel\EavMerchant\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

<!--    <virtualType name="Magenest\EavModel\Model\ResourceModel\EavMerchant\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">merchant_entity</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Magenest\EavModel\Model\ResourceModel\Merchant</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

    <virtualType name="additionalFieldsProviderForElasticsearch" type="Magento\AdvancedSearch\Model\Adapter\DataMapper\AdditionalFieldsProvider">
        <arguments>
            <argument name="fieldsProviders" xsi:type="array">
                <item name="merchant_id" xsi:type="object">Magenest\EavModel\Model\Adapter\BatchDataMapper\MerchantDataProvider</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Elasticsearch\Model\Adapter\Index\Builder">
        <plugin name="custom_like_search_builder" type="Magenest\EavModel\Plugin\Model\Adapter\Index\CustomBuilder" />
    </type>
</config>
