<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenest\DatabaseConnection\Model\ResourceModel\CustomerTraining">
        <arguments>
            <argument name="connectionName" xsi:type="string">custom</argument>
        </arguments>
    </type>

    <preference for="Magenest\DatabaseConnection\Api\Data\CustomerTrainingInterface"
                type="Magenest\DatabaseConnection\Model\CustomerTraining" />

    <preference for="Magenest\DatabaseConnection\Api\Data\CustomerTrainingSearchResultsInterface"
                type="Magenest\DatabaseConnection\Model\CustomerTrainingSearchResults" />

    <preference for="Magenest\DatabaseConnection\Api\CustomerTrainingRepositoryInterface"
                type="Magenest\DatabaseConnection\Model\CustomerTrainingRepository" />

    <preference for="Magenest\DatabaseConnection\Model\Resolver\CustomersTraining\CustomersTrainingQueryInterface"
                type="Magenest\DatabaseConnection\Model\Resolver\CustomersTraining\CustomersTrainingQuery" />

    <virtualType name="Magenest\DatabaseConnection\Model\Api\SearchCriteria\CustomerTrainingCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customertraining_customer_listing_data_source" xsi:type="string">Magenest\DatabaseConnection\Model\ResourceModel\CustomerTraining\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magenest\DatabaseConnection\Model\ResourceModel\CustomerTraining\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_training</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\DatabaseConnection\Model\ResourceModel\CustomerTraining</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\GraphQl\Query\Resolver\Argument\FieldEntityAttributesPool">
        <arguments>
            <argument name="attributesInstances" xsi:type="array">
                <item name="customersTraining" xsi:type="object">Magenest\DatabaseConnection\Model\Resolver\CustomersTraining\FilterArgument\CustomerTrainingEntityAttributesForAst</item>
            </argument>
        </arguments>
    </type>
</config>

