<div class="magenest-popup-step">
    <div class="popup-content-wrapper">
        <div class="popup-step-1">
            <div class="popup-product-hotdeals only-one-product">
                <div class="popup-product">
                    {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="1" template="Magento_CatalogWidget::product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^]^]"}}
                </div>
                <div class="popup-title">
                    <div class="title">limited offer</div>
                    <div class="percent">50%<br><span>OFF</span></div>
                    <div class="desc">for first<br><span>20 orders</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
