<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cancelOrderWithStatusNotHandle" xsi:type="object">Magenest\CLI\Console\Command\CancelOrderWithStatusNotHandle</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magenest\CLI\Api\CancelOrderWithStatusInterface" type="Magenest\CLI\Model\CancelOrderWithStatus" />
</config>
