<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_DatabaseConnection::customer_training" title="Customer Training" translate="title" module="Magenest_DatabaseConnection" sortOrder="20" resource="Magenest_DatabaseConnection::customer_training"/>
        <add id="Magenest_DatabaseConnection::manage" title="Manage" translate="title" module="Magenest_DatabaseConnection" sortOrder="30" parent="Magenest_DatabaseConnection::customer_training" action="customerTraining/customer/index" resource="Magenest_DatabaseConnection::manage"/>
    </menu>
</config>
