<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="assign_discount_customer_rank_submit_before" instance="Magenest\SalesOperations\Observer\Quote\BeforeSubmit" />
    </event>

    <event name="sales_model_service_quote_submit_success">
        <observer name="upgrade_rank_customer_after_place_order" instance="Magenest\SalesOperations\Observer\UpgradeRankCustomer" />
    </event>
</config>
